/* inter-cyrillic-variable-wghtOnly-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('../../node_modules/@fontsource/inter/files/inter-cyrillic-variable-wghtOnly-normal.woff2') format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* inter-cyrillic-ext-variable-wghtOnly-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('../../node_modules/@fontsource/inter/files/inter-cyrillic-ext-variable-wghtOnly-normal.woff2')
        format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* inter-greek-variable-wghtOnly-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('../../node_modules/@fontsource/inter/files/inter-greek-variable-wghtOnly-normal.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}
/* inter-greek-ext-variable-wghtOnly-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('../../node_modules/@fontsource/inter/files/inter-greek-ext-variable-wghtOnly-normal.woff2')
        format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* inter-latin-variable-wghtOnly-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('../../node_modules/@fontsource/inter/files/inter-latin-variable-wghtOnly-normal.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* inter-latin-ext-variable-wghtOnly-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('../../node_modules/@fontsource/inter/files/inter-latin-ext-variable-wghtOnly-normal.woff2')
        format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* inter-vietnamese-variable-wghtOnly-normal */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('../../node_modules/@fontsource/inter/files/inter-vietnamese-variable-wghtOnly-normal.woff2')
        format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.footnotes {
    margin-top: 2rem;
}

.footnotes li {
    margin: 0;
    font-size: 1rem;
}

.footnotes p {
    margin: 0;
}

sup {
    left: 0.3em;
}